
<h1>Poloo quiz</h1>


<div class="directions">
<p>Take the 10 question quiz to see where you land in the political spectrum. How much do you agree or disagree with each statement?</p>
</div>

<%= render 'form' %>


